<template>
    <div id="add-users">
        <h1>Add User Info</h1>
        <notification v-bind:notifications="notifications"></notification>
        <form v-on:submit.prevent="AddUser">
            <div class="mb-4">
                <label class="form-label" name="user_name">Name</label>
                <input type="text" class="form-control" v-model="user.name" id="user_name" required>
            </div>
            <div class="mb-4">
                <label class="form-label" name="user_address">Address</label>
                <input type="text" class="form-control" v-model="user.address" id="user_address" required>
            </div>
            <div class="mb-3 d-grid">
                <button class="btn btn-primary btn-lg">Add User</button>
            </div>
        </form>
        <router-link id="rtr-link" :to="{ name: 'list-users' }">Return to User List</router-link>
    </div>
</template>

<script>
    import Notification from './notifications.vue';
    export default{
        data(){
            return{
                user:{},
                notifications:[]
            }
        },
        methods: {
            AddUser: function()
            {
                // Validation
                var name = this.user.name;
                var address = this.user.address;

                if(!name){
                    this.notifications.push({
                        type: 'danger',
                        message: 'Name is required'
                    });
                    return false;
                }else if(!address){
                    this.notifications.push({
                        type: 'danger',
                        message: 'Address is required'
                    });
                    return false;
                } else {
                    this.user.name =  this.user.name;
                    this.user.address = this.user.address;
                }

                this.$http.post('http://localhost:3000/api/users/add', this.user, {
                    headers : {
                        'Content-Type' : 'application/json'
                    }
                }).then((response) => {
                    this.notifications.push({
                        type: 'success',
                        message: 'User added successfully'
                    });
                }, (response) => {
                    this.notifications.push({
                        type: 'error',
                        message: 'User not added'
                    });
                });
            }
        },
        components: {
            'notification' : Notification
        }
    }
</script>