<template>
    <div id="edit-user">
        <h1>Update User Info</h1>
        <notification v-bind:notifications="notifications"></notification>
        <form v-on:submit.prevent="editUser">
            <div class="mb-4">
                <label class="form-label" name="user_name">Name</label>
                <input type="text" class="form-control" v-model="user.name" id="user_name" required>
            </div>
            <div class="mb-4">
                <label class="form-label" name="user_address">Address</label>
                <input type="text" class="form-control" v-model="user.address" id="user_address" required>
            </div>
            <div class="mb-3 d-grid">
                <button class="btn btn-outline-primary btn-lg">Update Info</button>
            </div>
        </form>
        <router-link id="rtr-link" :to="{ name: 'list-users' }">Return to User List</router-link>
    </div>
</template>

<script>
    import Notification from './notifications.vue';
    
    export default{
        data(){
            return{
                user:{},
                notifications:[]
            }
        },
        created: function(){
            this.getUser();
        },
        methods: {
            getUser: function()
            {
                this.$http.get('http://localhost:3000/api/users/' + this.$route.params.id).then((response) => {
                    this.user = response.body;
                });
            },
            editUser: function()
            {
                this.$http.patch('http://localhost:3000/api/users/edit/' + this.$route.params.id, this.user, {
                    headers : {
                        'Content-Type' : 'application/json'
                    }
                }).then((response) => {
                    this.notifications.push({
                        type: 'success',
                        message: 'User info updated successfully!'
                    });
                }, (response) => {
                    this.notifications.push({
                        type: 'error',
                        message: 'Failed to update user info.'
                    });
                });
            }
        },
        components: {
            'notification' : Notification
        }
    }
</script>
