<template>
    <div id="list-users">
        <b-container fluid>
            <b-row>
                <b-col>
                    <h1 class="text-center">User List</h1>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <notification v-bind:notifications="notifications"></notification>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <router-link :to="{name: 'add-user'}" class="btn btn-primary text-left btn-add">Add User <i class="bi bi-person-plus-fill"></i></router-link>
                </b-col>
            </b-row>
            <b-row>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-center">Name</td>
                            <td class="text-center">Address</td>
                            <td class="text-center" colspan="2">Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users" v-bind:key="user.id">
                            <td>{{ user.name }}</td>
                            <td>{{ user.address }}</td>
                            <td class="text-center">
                                <router-link :to="{name: 'edit-user', params: { id: user.id }}" class="btn btn-primary">Edit <i class="bi bi-pencil-square"></i></router-link>
                            </td>
                            <td class="text-center">
                                <button v-on:click="deleteUser(user.id)" class="btn btn-danger">Remove <i class="bi bi-person-dash-fill"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import Notification from './notifications.vue';

    export default{
        data(){
            return{
                users: [],
                notifications:[]
            }
        },
        created: function()
        {
            this.fetchUserData();
        },
        methods: {
            fetchUserData: function()
            {
                this.$http.get('http://localhost:3000/api/users').then((response) => {
                    this.users = response.body;
                });
            },
            deleteUser: function(user_id)
            {
                console.log(this.$route.params,user_id)
                this.$http.delete('http://localhost:3000/api/users/delete/' + user_id, this.users, {
                    headers : {
                        'Content-Type' : 'application/json'
                    }
                }).then((response) => {
                    console.log(response)
                    this.fetchUserData();
                    this.notifications.push({
                        type: 'success',
                        message: 'User info deleted successfully!'
                    });
                }, (response) => {
                    this.notifications.push({
                        type: 'danger',
                        message: 'Product could not deleted'
                    });
                });
            
            }
        },
        components: {
            'notification' : Notification
        }
    }
</script>
